<h1>Login</h1>
<form method="POST" action="/users/login">
    <div>
        <label for="email">Email:</label>
        <input required type="email" placeholder="Email" name="email" value="email" />
    </div>
    <div>
        <label for="password">password:</label>
        <input required type="text" placeholder="Password" name="password" value="password" />
    </div>
    <button type="submit">Login</button>
</form>